*{
	font-family: 'Playfair Display', serif;	
	font-style: italic;
}

h1{
	font-size: 3em;
	font-weight: 900;

}
.tab{
	background-color: rgba(68, 14, 98, 0.7);
	min-height: 800px;
	padding: 10px 40px;
	max-width: 800px;
}

#practices_page img
{
	margin-left: 15px;
	margin-right: 15px;
	max-width: 400px;
	max-height: 400px;
}

#wrapper{
	min-height: 800px;
	width: 1000px;
	background-image: url("flowers_double.png");
	background-repeat: none;
	overflow: hidden;
	margin: 0px auto;
}
#header{

	text-align: center;
	height: 100px;
	width: 1000px;
	
}
#content{
	min-height: 600px;
	width: 800px;
	margin: 0px auto;
	color: white;
}

.tab p{
	padding-top: 10px;
	max-width: 720px;
	text-indent: 0px;
	font-size: 1.3em;
	margin: 0px 0px 20px 0px;
	opacity: .9;
	text-align: left;

}

#home_page img{
	width: 150px;
	height: 200px;
	opacity: 1.0;
	float:left;
	margin-right: 25px;
}
#nav-list {
	background: -webkit-linear-gradient(bottom, #440e62, #996AB2);
	background: -moz-linear-gradient(bottom, #440e62, #996AB2);
	background: -ms-linear-gradient(bottom, #440e62, #996AB2);
	opacity: .8;
	list-style-type: none;
	margin: 0px;
	border-radius: 15px 15px 0px 0px;

}
#nav-list li{
	opacity: 1.0;
	color: white;
	display: inline-block;
	margin: 10px 10px;
	padding: 10px 10px;

}

 #nav-list  a{
	border-radius: 10px;
	text-decoration: none;
	color: white;
}

.big
{
	font-size: 50px;
	text-align: left;
	font-style: italic;
	padding-left: 95px;
	color: white;
	font-weight: 400;
	text-shadow: 5px 5px 20px white;
}
.btn-hvr
{
	border-radius: 10px;
	background: -webkit-linear-gradient(bottom, #440e62, #C495DC);
	background: -moz-linear-gradient(bottom, #440e62, #C495DC);
	background: -ms-linear-gradient(bottom, #440e62, #C495DC);
}

.btn-off
{
	border-radius: 10px;
}
.btn-clk{
	border-radius: 10px;
	background: -webkit-linear-gradient(bottom, #440e62, #9357B2);
	background: -moz-linear-gradient(bottom, #440e62, #9357B2);
	background: -ms-linear-gradient(bottom, #440e62, #9357B2);
}

 #home_page p:first-letter{
	font-size: 1.6em;
	font-weight: 900;
}


}

img{
	display: inline-block;
}


