*{
	font-family: 'Playfair Display', serif;	
	font-style: italic;
}
h1{
	font-size: 3em;
	font-weight: 900;

}
#wrapper{
	min-height: 800px;
	width: 1000px;
	background-image: url("flowers.jpg");
	background-repeat: none;
	overflow: hidden;
	margin: 0px auto;
}
#header{

	text-align: center;
	height: 100px;
	width: 1000px;
	
}
#content{
	min-height: 600px;
	width: 800px;
	margin: 0px auto;
	/*background-color: #669801;*/
	/*padding: 50px;*/
	color: white;
}
#about_page{
	/*background-color: #440e62;*/
	/*background-color: #996AB2;*/
	background: -webkit-linear-gradient(top, #440e62, #996AB2);
	background: -moz-linear-gradient(top, #440e62, #996AB2);
	background: -ms-linear-gradient(top, #440e62, #996AB2);
	opacity: .75;
	height: 600px;
	padding: 10px 40px;
}
#about_page p{
	padding-top: 10px;
	max-width: 800px;
	text-indent: 20px;
	font-size: 1.3em;
	margin: 0px 0px 20px 0px;
	opacity: .8;

}
#about_page img{
	width: 150px;
	height: 200px;
	opacity: 1.0;
	float:left;
	margin-right: 25px;
}
ul{
	background: -webkit-linear-gradient(bottom, #440e62, #996AB2);
	background: -moz-linear-gradient(bottom, #440e62, #996AB2);
	background: -ms-linear-gradient(bottom, #440e62, #996AB2);
	opacity: .8;
	/*background-color: #440e62;*/
	list-style-type: none;
	margin: 0px;
	/*opacity: 1.0;*/
	border-radius: 15px 15px 0px 0px;

}
ul li{
	opacity: 1.0;
	color: white;
	display: inline-block;
	margin: 10px 30px;
	padding: 10px 10px;

}

ul a{
	border-radius: 10px;
	text-decoration: none;
	color: white;
}

.big
{
	font-size: 50px;
	text-align: left;
	font-style: italic;
	padding-left: 95px;
	color: white;
	font-weight: 400;
	text-shadow: 5px 5px 20px white;
}
.btn-hvr
{
	border-radius: 10px;
	background: -webkit-linear-gradient(bottom, #440e62, #C495DC);
	background: -moz-linear-gradient(bottom, #440e62, #C495DC);
	background: -ms-linear-gradient(bottom, #440e62, #C495DC);
	/*background: -webkit-gradient(radial, center center, 0, center center, 100, from(#440e62), to(#C495DC));*/
	/*background: -webkit-gradient(radial, 50% 50%, 0, 50% 80%, 150, from(#440e62), to(#C495DC));*/
	/*background-color: purple;*/
}

.btn-off
{
	border-radius: 10px;
}
.btn-clk{
	border-radius: 10px;
	background: -webkit-linear-gradient(bottom, #440e62, #9357B2);
	background: -moz-linear-gradient(bottom, #440e62, #9357B2);
	background: -ms-linear-gradient(bottom, #440e62, #9357B2);
}

.big-letter{
	font-size: 1.6em;
	font-weight: 900;
}
#products_page{
	background: -webkit-linear-gradient(top, #440e62, #996AB2);
	background: -moz-linear-gradient(top, #440e62, #996AB2);
	background: -ms-linear-gradient(top, #440e62, #996AB2);
	opacity: .75;
	height: 500px;
	padding: 10px 40px;
}
#practices_page{
	background: -webkit-linear-gradient(top, #440e62, #996AB2);
	background: -moz-linear-gradient(top, #440e62, #996AB2);
	background: -ms-linear-gradient(top, #440e62, #996AB2);
	opacity: .75;
	height: 1400px;
	padding: 10px 40px;
}
#download_page{
	background: -webkit-linear-gradient(top, #440e62, #996AB2);
	background: -moz-linear-gradient(top, #440e62, #996AB2);
	background: -ms-linear-gradient(top, #440e62, #996AB2);
	opacity: .75;
	height: 600px;
	padding: 10px 40px;
}
.hidden{
	display: hidden;
}
.unhidden{

}
#practices_page p img{
	opacity: 1.0;
}
#veg{
	display: inline-block;
	opacity: 1.0;
}
#dum{
	display: inline-block;
	
}
#sky{
	display: inline-block;
	
}

